			body{
			background-color: #121316;
			}
						
			.productdiv{
			width: 100%;
			margin: 90 0 100 0;
			}
			
			.products h1{
			font-size: 100%;
			}
			
			.contact{
			background-color: #34363c;
			}
			
			.contact i{
			display: inline-block;
			margin: 5 0 5 10;
			color: lightgray;
			}
			
			.contact p{
			display: inline-block;
			margin: 5 10 5 0;
			color: lightgray;
			}
			
			.carousel-caption h5{
			font-size: 40px;
			font-weight: bold;	
			}
			
			.carousel-caption{
			text-shadow: 2px 2px 1px #000000;
			}
			
		
			.footerright i{
			font-size: 40px;
			margin: 0 20 0 0;
			color:white;
		
			}
			
			.footerright h1{
			color:lightgray;
			}
		
			.footerleft{
			margin: 20 0 10 90;
			font-weight: bold;
			color: lightgray;
			}
			
			.navbar-toggler-icon{
			background-image: url(essentials/bar.png)!important
			}
			
			.nav-link{
			color: white !important;
			}
			
			
			.abtustagline{
				 font-size: 80px;
			}
			
			.list-group-item{
			background-color:#252525;	
			}
			
			.list-group-item h5{
			color:#ffffff;
			}
		
			.list-group-item p{
			color:#b5b5b5!important
			}

			.list-group-item h6{
			color:#f9ffa3;
			}
			
			.nav-link{
			font-size: 30px;
			font-family: 'Squada One', cursive;
			
			}
			
			.dropdown-item{
			font-size: 30px;
			font-family: 'Squada One', cursive;
			}
			
			.nav-link:hover{
				color:#26e1ff!important;
				
			}
			
			.order-lg-2{
				margin: 0 0 50px 0				
			}
			
			.panel-heading{
				padding: 10 10 10 10; 
				background-color:#34363c;
				border-radius: 20px;
				margin-bottom: 30px;
				text-align:center;
			}
			
			.panel-body{
				margin: 0 0 50px 0;
				text-align:center;
				color:white;
			}
			
			.ing{
				color: #eaeaea;
			}
			
			.ing:hover{
				color: #26e1ff;
				text-decoration:none;
			}
			
			
			.faqclass{
				margin: 30px 0 30px 0;
				color: white;
				text-shadow: 2px 2px 1px #000000;
				
			}
			
			.team-section{
				color:white;
				width: 95%;
				
			}
			
			
			.rounded-circle{
				opacity:0.5;
				 transition: .5s;
				 margin: 20px 0 0 0;
				
			}
			
			.rounded-circle:hover{
				opacity:1;
				transform: scale(1.2); 
				
			}
	
			.team-section{
			background-color:#1f1f1f;	
			 border-radius: 10px;
		
			}
			
			.h1-responsive{
				color:white;
				text-align:center;
				text-shadow: 2px 2px 1px #000000;
		
			}
			
			#policy{
				background-color: #28262d; 
				padding: 20 0 20 0; 
				width: 80%; 
				border-radius: 35px;	
			}
			
			.policy{
				width: 90%;
				text-align: center;
				height: 100%;
				
			}
			
			.font-weight-normal{
				margin: 0 20 20 20;
				
			}
			
			#p-3con {
			background: rgb(149,149,149);
			background: linear-gradient(86deg, rgba(149,149,149,1) 2%, rgba(118,122,130,1) 34%, rgba(119,124,133,1) 70%, rgba(166,166,166,1) 93%);
			}
			
			.card{
			background-color:#1e2025;
			box-shadow: 5px 5px 7px #000000;
			margin: 40 0 87 0;
			}
			
			.mb-0{
			color: white;
			text-shadow: 2px 2px 1px #000000;	
			}

			.contitle{
			color: white;
			font-weight:bold;	
				
			}

			.conbod{
			color: gray;
				
				
			}
			
			.conlink{
			color: #26e1ff;
			}
			
							
			.footerright i{
			transition: transform .5s; 
					
			}
				
			.footerright i:hover{
			transform: scale(1.5); 
					
			}

			#abttxt,#aboutcenter{
			color:white!important;
			margin: 0 5% 0 5%;
			text-align: center;
			background-color:#292929;
			padding: 30 30 30 30;
			text-shadow: 2px 2px 1px #000000;
			box-shadow: 5px 5px 17px #000000;
			}



			@media screen and (max-width: 480px){				
				.navbar-toggler{
				background-color: #34363c;
				}
				
				.productdiv .products{
				width: 70%;
				color: lightgray;
				margin: 0 0 100 0;
				
				}	
				
				.bestxpbg{
				width: 100%;
				height: 400px;
				font-family: 'Squada One', cursive;
				background-image: url(games/auwallpaper.jpg);
				background-position: 60% 0px;
				position: relative;
				box-shadow: 0px 0px 3px #ffffff;
				background-repeat: no-repeat;		
				}

				.abtustagline{
				 font-size: 50px;
				 	margin: -40 0 0 0;
				}
				
				.font-italic{
				margin: 0 0 10 0;		
				}
				
				#aboutcenter{
				margin: 60 0 0 0;				
				}
				
				#aboutlstimg{
				margin: 70 0 0 0;
					
				}
				
				.footerright i{
				font-size: 40px;
				margin: 0 20 0 0;		
				}
				
				.footerright{
				margin: 20 0 0 20;
				top: ;
				
				}
				
				.footerleft{
				margin: 20 0 0 20;
				}
		
			}

			@media screen and (max-width: 768px) and (min-width: 481px)  { 				
				.navbar-toggler{
				background-color: #34363c;
				}
	
				.productdiv .products{
				width: 70%;
				color: lightgray;
				margin: 0 0 100 0;
				}
		
				.footerright i{
				font-size: 40px;
				margin: 0 20 0 0;		
				}
				
				.footerright{
				margin: 20 0 0 20;
				top: ;
				
				}
				
				.footerleft{
				margin: 20 0 0 20;
				}

				
				.bestxpbg{
				width: 100%;
				height: 400px;
				font-family: 'Squada One', cursive;
				background-image: url(games/auwallpaper.jpg);
				background-position: 60% 0px;
				position: relative;
				box-shadow: 0px 0px 3px #ffffff;
				background-repeat: no-repeat;		
				}
				
				.abtusblk{
				margin-bottom: 60px;
				}

				.abtustagline{
				 font-size: 50px;
				 margin: -40 0 0 0;
				}

				.font-italic{
				margin: 0 0 10 0;		
				}
				
				#aboutcenter{
				margin: 60 0 0 0;				
				}
				
				#aboutlstimg{
				margin: 70 0 0 0;
					
				}

				}
				
				
			
			@media screen and (max-width: 1279px) and (min-width: 769px)  { 
				
				
				.carousel-item{
				width: 100%; 
				height: 600px; 
				overflow: hidden;
				}
		
				
				.productdiv .products{
				display: inline-block;
				width: 20%;
				color: lightgray;
			}
			
				.footerright{
				float: right;
				}
				
				.footerright h1{
				 margin: 100 100 10 0;
				}
				
				.footerleft{
				margin: 20 0 10 90;
				}
				
				
				.bestxpbg{
				width: 100%;
				height: 500px;
				font-family: 'Squada One', cursive;
				background-image: url(games/auwallpaper.jpg);
				background-position: 40% 0px;
				position: relative;
				box-shadow: 0px 0px 3px #ffffff;
				background-repeat: no-repeat;		
				}
				

				
				.products{
				transition: transform .5s;
					
				}
				
				.products:hover{
				transform: scale(1.2); 
					
				}
				
				
				
				.align-items-center{
				margin-bottom: 100px;								
				}
				
				.px-5{
				margin: 0 0 0 0;
					
				}
				
				.font-italic{
				margin: 40 0 10 0;	
					
				}
				
				
				
			
			}
			
			@media screen and (min-width: 1280px){ 
				
				#coldsteel{
					margin-top:-10%;
					float:right
				}
				
				
				.carousel-item{
				width: 100%; 
				height: 600px; 
				overflow: hidden;
				}
				
				.productdiv .products{
				display: inline-block;
				width: 20%;
				color: lightgray;
			}
				
				.footerright{
				float: right;
				}
				
				.footerright h1{
				 margin: 100 100 10 0;
				}
				
				.footerleft{
				margin: 20 0 10 90;
				}
				
				
				.bestxpbg{
				width: 100%;
				height: 500px;
				font-family: 'Squada One', cursive;
				background-image: url(games/auwallpaper.jpg);
				position: relative;
				box-shadow: 0px 0px 3px #ffffff;
				background-repeat: no-repeat;		
				}
					
				.abtusblk{
				margin-bottom: 60px;
				}		
				
				.products{
				transition: transform .5s;
					
				}
				
				.products:hover{
				transform: scale(1.2); 
					
				}
				
				.align-items-center{
				margin-bottom: 100px;			
				}
				

				
			}
			
			